<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @review.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Product:</strong>
  <%= @review.product.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user.first_name %>
</p>

<%= link_to 'Back', product_reviews_path %>
