
<p><%= image_tag (line_item.product.image) %></p>
<p>Name: <%= line_item.product.name %></p>
<p class="description">DESCRIPTION <%= line_item.product.description %></p>
<p>QUANTITY: <%= line_item.quantity%>
<p>TOTAL : <%= line_item.total_price %> </p>
